body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

/*** inizio FIRST HEADER ***/
#my-first-header {
    height: 40px;
    font-size: 12px;
    font-weight: bold;
    color: #5b6987;
    border-bottom: 1px solid rgba(219,219,219,0.6);
    visibility: hidden;
}

.my-first-header-left {
    padding: 10px 0 10px 30px;
}

.my-first-header-left a {
    padding-left: 10px;
    color: #5b6987;
}

.my-first-header-left a:hover {
    cursor: pointer;
    text-decoration: none;
    color: #0069ff;
}

.my-btn-primary {
    color: #031b4e;
    background-color: #00d7d2;
    border-radius: 5px;
    border: none;
    font-size: 10px;
    font-weight: 700;
    padding: 3px 8px;
}

.my-first-header-right {
    line-height: 40px;
}

.my-main-menu ul li {
    padding-right: 25px;
}
/*** fine FIRST HEADER ***/

/*** inizio SECOND HEADER ***/
#my-second-header {
    height: 55px;
    visibility: hidden;
}

#my-second-header #logo, #my-second-header .my-navbar, #my-second-header .btn-signup {
    display: inline-block;
}

#logo img {
    height: 30px;
    margin: 10px 0 10px 30px;
}

.my-navbar {
    margin-left: 55px;
    line-height: 55px;
}

.my-navbar ul li {
    padding-right: 12px;
    color: #031b4e;
}

.my-navbar ul li:hover {
    cursor: pointer;
    color: #0069ff;
}

#my-second-header .my-navbar .fas.fa-chevron-down {
    font-size: 12px;
    margin-left: 5px;
}

.my-btn-signup button {
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    color: #0069ff;
    border-radius: 5px;
    border: 1px solid #0069ff;
    padding: 5px 15px;
}

.my-btn-signup button:hover {
    background-color: #0069ff;
    color: white;
}

/*** inizio MEDIA QUERY ***/
@media screen and (min-width: 1024px) {
    #my-first-header {
        visibility: visible;
    }

    #my-second-header {
        visibility: visible;
    }
}
